<a href="https://colab.research.google.com/github/nicolle-tq/Alura-Store/blob/main/AluraStore.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Importación de datos

In [1]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tienda.head()

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electrónicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogotá,4,Tarjeta de crédito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medellín,1,Tarjeta de crédito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de crédito,1,10.39972,-75.51444
3,Microondas,Electrodomésticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medellín,5,Nequi,1,6.25184,-75.56359

#1. Análisis de facturación

In [2]:
ingreso_tienda = tienda['Precio'].sum()
ingreso_tienda2 = tienda2['Precio'].sum()
ingreso_tienda3 = tienda3['Precio'].sum()
ingreso_tienda4 = tienda4['Precio'].sum()

In [3]:
print(f'Ingreso total tienda 1: ${ingreso_tienda:,.0f}')
print(f'Ingreso total tienda 2: ${ingreso_tienda2:,.0f}')
print(f'Ingreso total tienda 3: ${ingreso_tienda3:,.0f}')
print(f'Ingreso total tienda 4: ${ingreso_tienda4:,.0f}')

Ingreso total tienda 1: $1,150,880,400
Ingreso total tienda 2: $1,116,343,500
Ingreso total tienda 3: $1,098,019,600
Ingreso total tienda 4: $1,038,375,700

# 2. Ventas por categoría

In [4]:
ventas_categoria_t1 = tienda['Categoría del Producto'].value_counts()
ventas_categoria_t2 = tienda2['Categoría del Producto'].value_counts()
ventas_categoria_t3 = tienda3['Categoría del Producto'].value_counts()
ventas_categoria_t4 = tienda4['Categoría del Producto'].value_counts()

In [5]:
print("Ventas por categoría - Tienda 1")
print(ventas_categoria_t1, '\n')

print("Ventas por categoría - Tienda 2")
print(ventas_categoria_t2, '\n')

print("Ventas por categoría - Tienda 3")
print(ventas_categoria_t3, '\n')

print("Ventas por categoría - Tienda 4")
print(ventas_categoria_t4)

Ventas por categoría - Tienda 1
Categoría del Producto
Muebles                    465
Electrónicos               448
Juguetes                   324
Electrodomésticos          312
Deportes y diversión       284
Instrumentos musicales     182
Libros                     173
Artículos para el hogar    171
Name: count, dtype: int64

Ventas por categoría - Tienda 2
Categoría del Producto
Muebles                    442
Electrónicos               422
Juguetes                   313
Electrodomésticos          305
Deportes y diversión       275
Instrumentos musicales     224
Libros                     197
Artículos para el hogar    181
Name: count, dtype: int64

Ventas por categoría - Tienda 3
Categoría del Producto
Muebles                    499
Electrónicos               451
Juguetes                   315
Electrodomésticos          278
Deportes y diversión       277
Libros                     185
Instrumentos musicales     177
Artículos para el hogar    177
Name: count, dtype: int64

Ventas por categoría - Tienda 4
Categoría del Producto
Muebles                    480
Electrónicos               451
Juguetes                   338
Deportes y diversión       277
Electrodomésticos          254
Artículos para el hogar    201
Libros                     187
Instrumentos musicales     170
Name: count, dtype: int64

# 3. Calificación promedio de la tienda

In [6]:
calificacion_t1 = tienda['Calificación'].mean()
calificacion_t2 = tienda2['Calificación'].mean()
calificacion_t3 = tienda3['Calificación'].mean()
calificacion_t4 = tienda4['Calificación'].mean()

In [7]:
print(f'Calificación promedio Tienda 1: {calificacion_t1:.2f}')
print(f'Calificación promedio Tienda 2: {calificacion_t2:.2f}')
print(f'Calificación promedio Tienda 3: {calificacion_t3:.2f}')
print(f'Calificación promedio Tienda 4: {calificacion_t4:.2f}')

Calificación promedio Tienda 1: 3.98
Calificación promedio Tienda 2: 4.04
Calificación promedio Tienda 3: 4.05
Calificación promedio Tienda 4: 4.00

# 4. Productos más y menos vendidos

In [10]:
productos_vendididos_t1 = tienda['Producto'].value_counts()
productos_vendididos_t2 = tienda2['Producto'].value_counts()
productos_vendididos_t3 = tienda3['Producto'].value_counts()
productos_vendididos_t4 = tienda4['Producto'].value_counts()

In [16]:
print('Tienda 1')
print('Producto más vendido:')
print(productos_vendididos_t1.head(1))
print('Productos menos vendidos:')
print(productos_vendididos_t1.tail(1))
print('\n')

print('Tienda 2')
print('Producto más vendido:')
print(productos_vendididos_t2.head(1))
print('Productos menos vendidos:')
print(productos_vendididos_t2.tail(1))
print('\n')

print('Tienda 3')
print('Producto más vendido:')
print(productos_vendididos_t3.head(1))
print('Productos menos vendidos:')
print(productos_vendididos_t3.tail(1))
print('\n')

print('Tienda 4')
print('Producto más vendido:')
print(productos_vendididos_t4.head(1))
print('Productos menos vendidos:')
print(productos_vendididos_t4.tail(1))

Tienda 1
Producto más vendido:
Producto
Microondas    60
Name: count, dtype: int64
Productos menos vendidos:
Producto
Celular ABXY    33
Name: count, dtype: int64


Tienda 2
Producto más vendido:
Producto
Iniciando en programación    65
Name: count, dtype: int64
Productos menos vendidos:
Producto
Juego de mesa    32
Name: count, dtype: int64


Tienda 3
Producto más vendido:
Producto
Kit de bancas    57
Name: count, dtype: int64
Productos menos vendidos:
Producto
Bloques de construcción    35
Name: count, dtype: int64


Tienda 4
Producto más vendido:
Producto
Cama box    62
Name: count, dtype: int64
Productos menos vendidos:
Producto
Guitarra eléctrica    33
Name: count, dtype: int64

# 5. Envío promedio por tienda